#search
  = form_tag phrasing_phrases_path, :method => :get do
    - locale_options = options_for_select([nil] + @locale_names.map{|l| [l,l]}, params[:locale])
    = select_tag 'locale', locale_options
    = text_field_tag :search, params[:search], :placeholder => 'Search for keys or values', :size => 40
    = submit_tag 'Search'
- if @phrasing_phrases.any?
  %table
    %tr
      %th Key
      %th Value
    - @phrasing_phrases.each do |t|
      %tr
        %td.key
          = link_to "#{t.key}", edit_phrasing_phrase_path(t)
        %td.value
          = t.value
