!!!
%html
  %head
    %title Copycat
    = stylesheet_link_tag "copycat_engine", :media => "all"
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    #page
      = render 'copycat/production_warning' if Rails.env.production?
      = render 'copycat/menu'
      = render 'copycat/messages'
      = yield
