!!!
%html
  %head
    %title Phrasing
    = stylesheet_link_tag "phrasing_engine", media: "all"
    = javascript_include_tag "phrasing_engine"
    = csrf_meta_tag
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %body
    #page
      = render 'phrasing/production_warning' if Rails.env.production?
      = render 'phrasing/menu'
      = render 'phrasing/messages'
      = yield
